<!DOCTYPE html>
<html>
  <head lang="pt-br">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Nova Empresa{% endblock %}</title>
    <!-- Link do Bootstrap -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />
    <!-- Link do CSS próprio -->
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/lux.css" />
  </head>
  <body class="d-flex flex-column">
    <!-- Cabeçalho -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">EmpreGO!</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link btn btn-outline-primary me-2" href="/"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-outline-primary me-2" href="/vagas"
                  >Vagas</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link btn btn-outline-primary me-2"
                  href="/empresas"
                  >Empresas</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-outline-primary" href="/login"
                  >Login</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Corpo -->
    <main class="container mt-5 flex-fill">
      <h1>EmpreGO</h1>
      <h2>Nova Empresa</h2>
      <p>Menu:</p>
      <ul class="list-group mb-4">
        <li class="list-group-item">
          <a href="/adm" class="btn btn-primary">Voltar</a>
        </li>
      </ul>
      <hr />
      <form action="/cadastrar_empresa" method="post" class="w-50 mx-auto" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="nome_empresa" class="form-label"
            >Nome Fantasia da Empresa</label
          >
          <input
            type="text"
            name="nome_empresa"
            class="form-control"
            required
          />
        </div>
        <div class="valid-feedback">
          Informação válida
      </div>
      <div class="invalid-feedback">
          Preencha o campo.</div>

        <div class="mb-3">
          <label for="cnpj" class="form-label">CNPJ</label>
          <input
            type="text"
            name="cnpj"
            class="form-control"
            maxlength="14"
            placeholder="Somente números"
            required
          />
        </div>
        <div class="valid-feedback">
          Informação válida
      </div>
      <div class="invalid-feedback">
          Preencha o campo.</div>

        <div class="mb-3">
          <label for="telefone" class="form-label">Telefone de Contato</label>
          <input
            type="text"
            name="telefone"
            class="form-control"
            maxlength="11"
            placeholder="Somente números"
            required
          />
        </div>
        <div class="valid-feedback">
          Informação válida
      </div>
      <div class="invalid-feedback">
          Preencha o campo.</div>

        <h2>Informações para acesso da plataforma</h2>

        <div class="mb-3">
          <label for="email" class="form-label">E-mail (LOGIN)</label>
          <input type="email" name="email" class="form-control" required />
        </div>
        <div class="valid-feedback">
          Informação válida
      </div>
      <div class="invalid-feedback">
          Preencha o campo.</div>

        <div class="mb-3">
          <label for="senha" class="form-label">Senha (LOGIN)</label>
          <input type="password" name="senha" class="form-control" required />
        </div>
        <div class="valid-feedback">
          Informação válida
      </div>
      <div class="invalid-feedback">
          Preencha o campo.</div>

        <button type="submit" class="btn btn-primary">Cadastrar Empresa</button>
        {% if msg_erro %}
        <p class="text-danger">{{ msg_erro }}</p>
        {% endif %}
      </form>
    </main>

    <!-- Rodapé -->
    <footer class="bg-light text-center py-3 mt-5">© 2024 EmpreGO!</footer>

    <!-- Scripts do Bootstrap -->
    <script src="../static/bootstrap/js/bootstrap.js"></script>

    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
  (() => {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
  
        form.classList.add('was-validated')
      }, false)
    })
  })()
  </script>
  </body>
</html>
